@import url("https://fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
* {
  font-family: "Prompt", sans-serif;
}

/* Navigation*/
.navbar {
  background-color: transparent;
}
.scrolling-navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.nav-sexylucky.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
  -webkit-box-shadpw: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}
footer.page-footer {
  background-color: #667490;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #667490;
  }
}

/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
}
/* Carousel*/
.carousel,
.carousel-item,
.carousel-item.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.full-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-sexylucky {
  flex-wrap: wrap;
}
.user-control {
  display: inline-block;
  padding-bottom: 0.5rem;
}
.user-control .ul-user-control {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
.user-control .ul-user-control li {
  display: inline;
  margin-right: 10px;
}
.user-control .ul-user-control li a i,
.user-control .ul-user-control li i,
.user-control .ul-user-control li a {
  color: #ffffff;
}
.user-control .ul-user-control li i {
  margin-right: 10px;
}
.user-control .ul-user-control li .select-lang {
  border: none;
  font-size: 1em;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.user-control .ul-user-control li .select-lang option {
  background-color: #000 !important;
  color: #ffffff !important;
}
.section-head-index {
  background-color: transparent;
  background-image: url("../img/example_header_index.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}
.nav-sexylucky {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar.navbar-dark.nav-sexylucky .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark.nav-sexylucky .navbar-nav .nav-item {
  margin-right: 10px;
}
.navbar.navbar-dark.nav-sexylucky .breadcrumb .nav-item .nav-link:last-of-type,
.navbar.navbar-dark.nav-sexylucky .navbar-nav .nav-item:last-of-type {
  margin-right: 0;
}
.main-index {
  background-image: url("../img/bg3.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: fixed;
}
.main-register {
  background-image: url("../img/bg3.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 6rem;
  position: relative;
  min-height: 80vh;
}
.main-horo {
  background-image: url("../img/bg-horo.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 6rem;
  position: relative;
  min-height: 80vh;
}
.for-bg-withdraw {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.for-header {
  position: absolute;
  top: 0;
}
.text-horo-phone{
  width: 100%;
  max-width: 320px;
  margin-bottom: 1rem;
}

.input-phone{
  background-image: url('../img/input-phone.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
  color: #ffffff!important;
  outline: none;
  text-align: center;
}
.input-phone:focus, .input-phone:active{
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
.text-pill-phone{
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 0.5rem;
}
.btn-horo{
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  max-width: 190px;
}
.btn-daily{
  width: 80px;
  height: 80px;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
}
.btn-daily:active, .btn-daily:focus, .btn-daily:hover{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.btn-horo-other{
  width: 18%;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 10px;
}
.btn-horo-other:active, .btn-horo-other:focus, .btn-horo-other:hover{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.card-game {
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.text-deposit {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: block;
}
.box-deposit {
  z-index: 20;
}
.card-deposit {
  position: absolute;
  bottom: 0;
  right: 80%;
  z-index: 2;
}
.card-game img {
  width: 100%;
  border-radius: 20px;
}
.card-game .hover-card-game {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.card-game:hover .hover-card-game {
  visibility: visible;
  opacity: 1;
}
.btn-hover-play {
  background-color: transparent;
  background-image: url("../img/btn_play.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-size: 1.5em;
}

.hoverable-sexylucky {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}
.hoverable-sexylucky:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(238, 238, 238, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(238, 238, 238, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}
.btn-see-all-img {
  width: 160px;
  transition: width 400ms ease-in-out;
}
.btn-see-all-img:hover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 165px;
}
.img-game-title {
  height: 3.5rem;
  margin-bottom: 1rem;
}
a img.btn-playgame {
  width: 180px;
}
.logo_footer {
  width: 100%;
  max-width: 300px;
}
.footer-sexylucky {
  background-color: #0c0c0c;
  color: #ffffff;
}
.line-qr {
  width: 100%;
  max-width: 180px;
}
.bg-carousel-promotion {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.contain-bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-bg-sub {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.contain-bg-sub.sub-0 {
  background-image: url("../img/cover1/bg.png");
}
.contain-bg-sub.sub-1 {
  background-image: url("../img/cover1/layer1.png");
}
.contain-bg-sub.sub-2 {
  background-image: url("../img/cover1/layer2.png");
}
.contain-bg-sub.sub-circle {
  background-image: url("../img/cover1/circle.png");
  background-size: 550px auto;
}
.cover-1,
.cover-2,
.cover-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.girl-left-cover-1 {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
}
.girl-left-cover-2 {
  position: absolute !important;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 1000px;
}
.girl-cover-2 {
  position: absolute !important;
  top: 0;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 49;
}
.text-cover-2 {
  position: absolute !important;
  left: auto;
  right: 0;
  width: 100%;
  z-index: 50;
}
.girl-cover-2-mobile {
  display: none !important;
}
.text-cover-2-mobile {
  display: none !important;
}
.text-cover-3 {
  width: 70%;
}
.bg-circle {
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.form-register {
  background-color: transparent;
  border: none;
  background-image: url("../img/bg-input.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 60px;
  padding-left: 5.5rem;
  color: #634e76 !important;
  font-size: 1.3rem;
}
.form-register::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #634e76;
  opacity: 1; /* Firefox */
}

.form-register:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #634e76;
}

.form-register::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #634e76;
}
.form-register:focus {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.register-username {
  background-image: url("../img/bg-input-username.png");
}
.register-phone {
  background-image: url("../img/bg-input-phone.png");
}
.register-bank {
  background-image: url("../img/bg-input-bank.png");
}
.register-account {
  background-image: url("../img/bg-input-account.png");
}
.register-date {
  background-image: url("../img/bg-input-date.png");
}
.register-pass {
  background-image: url("../img/bg-input-pass.png");
}
.register-money {
  background-image: url("../img/bg-input-money.png");
}
.input-id-card {
  display: none;
}
.btn-id-card {
  width: 150px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 5px;
}
.btn-register {
  width: 180px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 15px;
}
.btn-withdraw {
  width: 140px;
}
.btn-activate{
  width: 190px;
}
.btn-id-card:active,
.btn-id-card:focus,
.btn-register:active,
.btn-register:focus {
  border: none;
  outline: none;
}
.bg-withdrow-form {
  background-image: url();
}
#text-file-upload {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .user-control .ul-user-control li i {
    margin-right: 5px;
  }
  a.navbar-brand img.logo-custom {
    width: 100%;
    max-width: 120px;
  }
  .girl-left-cover-1 {
    width: 100%;
    max-width: 600px;
  }
  .girl-left-cover-2 {
    width: 100%;
    max-width: 600px;
  }
  .text-cover-1 {
    width: 80%;
    max-width: 650px;
  }
  .bg-circle {
    width: 80%;
    max-width: 400px;
  }

  .girl-cover-2 {
    display: none !important;
  }
  .text-cover-2 {
    display: none !important;
  }
  .girl-cover-2-mobile {
    display: block !important;
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .text-cover-2-mobile {
    display: block !important;
    position: absolute !important;
    bottom: 40%;
    left: 0;
    width: 100%;
  }
  .text-cover-3 {
    width: 100%;
  }
  .main-index,
  .main-register {
    background-size: cover;
    background-position: center center;
  }
  .text-deposit {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-dark.nav-sexylucky .navbar-brand {
    position: relative;
  }
  a.navbar-brand img.logo-custom {
    position: absolute;
    top: -50px;
    width: 150px;
    height: auto;
  }
  .main-index {
    background-image: url("../img/bg3.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  }

  .girl-left-cover-1 {
    width: 100%;
    max-width: 600px;
  }
  .girl-left-cover-2 {
    width: 100%;
    max-width: 600px;
  }
  .text-cover-1 {
    width: 80%;
    max-width: 650px;
  }
  .girl-cover-2 {
    display: none !important;
  }
  .text-cover-2 {
    display: none !important;
  }
  .girl-cover-2-mobile {
    display: block !important;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto !important;
    max-width: 600px;
  }
  .text-cover-2-mobile {
    display: block !important;
    position: absolute !important;
    bottom: 40%;
    left: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin: 0 auto !important;
    max-width: 700px;
  }
  .text-cover-3 {
    width: 85%;
  }
  .text-deposit {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .main-index,
  .main-register {
    background-size: cover;
    background-position: center center;
  }
  .btn-horo-other{
    width: 30%;
  }

}
@media (min-width: 992px) {
  .navbar-dark.nav-sexylucky .navbar-brand {
    position: relative;
  }
  a.navbar-brand img.logo-custom {
    position: absolute;
    top: -50px;
    width: 150px;
    height: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .girl-left-cover-1 {
    width: 100%;
    max-width: 600px;
  }
  .girl-left-cover-2 {
    width: 100%;
    max-width: 600px;
  }
  .text-cover-1 {
    width: 80%;
    max-width: 600px;
  }
  .bg-circle {
    width: 80%;
    max-width: 600px;
  }
  .girl-cover-2 {
    position: absolute !important;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .text-cover-2 {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
  }
  .text-cover-3 {
    width: 85%;
  }
}
@media (max-width: 1199px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .girl-left-cover-1 {
    width: 100%;
    max-width: 700px;
  }
  .girl-left-cover-2 {
    width: 100%;
    max-width: 700px;
  }
  .text-cover-1 {
    width: 80%;
    max-width: 700px;
  }
  .bg-circle {
    width: 80%;
    max-width: 650px;
  }
}
